<%- include('header') -%>
<h1>You are a valid user!</h1>
<br><br><br>
<table>
    <thead>
        <th>Student Id</th>
        <th>Student Name</th>
        <th>Fee Due Year-1</th>
        <th>Fee Due Year-2</th>
        <th>Fee Due Year-3</th>
        <th>Fee Due Year-4</th>
    </thead>
    <tr>
        <td><%= stuid %></td>
        <td><%= stuname %></td>
        <td><%= fdy1 %></td>
        <td><%= fdy2 %></td>
        <td><%= fdy3 %></td>
        <td><%= fdy4 %></td>
    </tr>
</table>
<%- include('footer') -%>